html{
background-color:#191919;
color:gold;
font-family: 'Amatic SC', cursive;
}

h1{
text-align:center;
font-size:6vw;
text-decoration: none;
}

form{
font-size:4vw;
}

label{

}

input{
margin-bottom:5vw;
margin-right:3vw;
height:3vw;
position:relative;
top:-0.5vw;
}

.textmove{
position:relative;
top:7vw;
}
.textarealabel{
position:relative;
top:-3vw;
}

.textarealabel1{
position:relative;
top:6vw;
}

.textarealabel2{
position:relative;
top:14vw;
}

.textmove1{
position:relative;
top:14vw;
}

div{
width:100%;
height:5vw;
position:relative;
top:15vw;
}

.radiobutton{
font-size:3vw;
transform: scale(5);
position:relative;
}
#submit{
height:5vw;
width:10vw;
position:relative;
left:45vw;
top:30vw;
}

a:link,a:visited{
border: 1vw outset gold;
background-color: gold;
height:5vw;
width:auto;
text-decoration:none;
}

a:hover{
border: 2vw outset gold;
background-color: gold;
height:6vw;
text-decoration:none;
width:auto;
font-size:4vw;
}