body, html {
height: 100%;
}

.bg {
background-image: url("Naana.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow:hidden;
}

.indextitle{
float: none;
position: absolute;
top: 75%;
left: 60%;
}

a:link {
border: 2vw solid #65350F;
border-radius: 2vw;
background-color: #65350F;
color:white;
font-size: 5vw;
font-family:'Pacifico', cursive;
text-decoration:none;
transition: 1s;
}

a:hover{
border: 2.5vw solid #472001;
border-radius: 2vw;
font-size: 5.5vw;
background-color: #472001;
color:white;
}

a:visited{
border: 2.5vw solid #472001;
border-radius: 2vw;
font-size: 5.5vw;
background-color: #472001;
color:white;
}