html{
background-color:black;
}
h1{
font-family: 'Pacifico', cursive;
color:gold;
text-align:center;
font-size:5vw;
}
nav{
width:100%;
position:relative;
left: 5vw;
}
a:link{
display:inline;
color: black;
font-family: 'Pacifico', cursive;
font-size:3vw;
border:10px solid gold;
border-radius: 2vw;
background-color: gold;
text-decoration:none;
}
.at1{
transition:0s;
margin:4.5vw;
}
.at2{
transition:0s;
margin:4.5vw;
}
.at3{
transition:0s;
margin:4.5vw;
}
a:hover {
display:inline;
color: black;
font-family: 'Pacifico', cursive;
font-size:2.5vw;
border:10px solid #e5c100;
border-radius: 2vw;
background-color: #e5c100;
text-decoration:none;
}
a:visited{
display:inline;
color: black;
font-family: 'Pacifico', cursive;
font-size:2.5vw;
margin:9%;
border:10px solid gold;
border-radius: 2vw;
background-color: gold;
text-decoration:none;
}
h2{
color:gold;
font-family: 'Satisfy', cursive;
font-size:3vw;
text-align: center;
}

h3{
font-size:2vw;
color:gold;
text-decoration:none;
font-family:'Caveat', cursive;
text-align: center;
}

.asideformat{
float:right;
width:40%;
height:auto;
overflow:hidden;
/*border: 2px solid white;*/
}

.sectionformat{
float:left;
overflow:visible;
position:relative;
top:-3vw;
width:55%;
height:60%;
}
p{
font-family: 'Caveat', cursive;
font-size: 1.5vw;
color:gold;
text-align:justify;
}
.firstimage{
left: 1vw;
top: -1vw;
position:relative;
width:50%;
height:50%;
}
.first1image{
right: -21vw;
top: -30vw;
position:relative;
width:50%;
height:50%;
}

.asideformat1{
float:left;
width:40%;
positon:relative;
top:10px;
left:-20px;
overflow:hidden;
border: 2px solid black;
background-size:cover;
}
.secondimage{
top:-20vw;
position:relative;
width:50%;
height:50%;
}
.second2image{
left: 20vw;
top: -47vw;
position:relative;
width:50%;
height:50%;
}

.sectionformat1{
float:left;
top:5vw;
position:relative;
width:55%;
}

.thirdimage{
top:-10vw;
left:0vw;
position:relative;
width:45%;
height:45%;
}

.third3image{
left: 0vw;
top: -30vw;
position:relative;
width:45%;
height:45%;
}

.sectionformat2{
float:left;
top:10vw;
position:relative;
width:55%;
/*border:2px solid white;*/
}
.specialfeature3{
float:right;
top:37vw;
position:relative;
width:55%;
}
.specialfeatureimg{
float:left;
position:relative;
top: -40vw;
width: 100%;
height:50%;
}
p.specialfeature{
font-family: 'Dancing Script', cursive;
}
h3.specialfeature{
font-family: 'Dancing Script', cursive;
float:center;
position:relative;
text-align:center;
}
h4{
font-family: 'Dancing Script', cursive;
float:center;
position:relative;
color:gold;
text-align:center;
font-size: 1.5vw;
}

pre{
color:gold;
float:center;
position:relative;
font-size: 2vw;
font-family: 'Dancing Script', cursive;
}
area.outline{
border:2px solid red;
}
.section2{
height:10vw;
width:100%;
position:relative;
top:20vw;
}
.Senegalflag{
width:10%;
hieght:10%;
}
.2ndbody{
top:10vw;
}
.sectionformat2_5{
float:left;
top:-25vw;
position:relative;
float:right;
width:100%;
}
.sectionformat3{
float:right;
top:-25vw;
position:relative;
width:55%;
/*border: 2px solid white;*/
}
.newaside{
float:left;
width:40%;
positon:relative;
overflow:visible;
background-size:cover;
/*border:2px solid gold;*/
}

.Firstimage{
float:left;
top: -25vw;
position:relative;
width:50%;
height:50%;
}
.First1image{
right: 0vw;
top: -25vw;
position:relative;
width:100%;
height:45%;
}

.sectionformat4{
float:right;
top:-10vw;
position:relative;
width:55%;
/*border: 2px solid white;*/
}

.Secondimage{
top:-17vw;
float:left;
position:relative;
width:60%;
height:50%;
}
.Second2image{
float:left;
top: -46.5vw;
position:relative;
width:50%;
height:50%;
}

.sectionformat5{
float:right;
top:0vw;
right:0vw;
position:relative;
width:55%;
/*border: 2px solid white;*/
}
.Thirdimage{
float:left;
top:-10vw;
position:relative;
width:70%;
height:50%;
color:gold;
}

.Third3image{
left: 1vw;
top: -30vw;
position:relative;
color:gold;
width:45%;
height:45%;
}